<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="message.css">
    <title>Error</title>
</head>
<body>
    <!-- Error page -->
    <div>
        <h3>Error!</h3>
        <p>We can't send you message now. please try again...</p>
    </div>
</body>
</html>